body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


h1.header-title {
  font-family: 'Lobster', cursive;
  color: #706872;
  text-shadow: 1px 1px #c8c2c9;
}

h2.user-title {
  font-family: 'Cabin', sans-serif;
  margin-top: 20px;
  font-size: 3rem;
  color:#6d186d;
  font-weight: bold;
}

li.items {
    background: #f1f0f0;
    margin-bottom: 1rem;
    padding: 6px;
    border-radius: 3px;
    list-style: none;
    border: 1px solid #f3f3f3;
    color: #664266;
    box-shadow: 1px 1px 1px #d8d8d8;
}

li.items span {
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: #aca4a4;
}