/* ==========================	
  TITLE & LOGO
=========================== */	

.login-header-wrapper{
  background-color: #99CCFF;
}

.login-header-container {
  background-color: #99CCFF;
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.login-logo {
  border: 10px solid #BD1E1E;
  height: 100px;
  width: 100px;
  border-radius: 50%; 
  text-align: center;
  background: ghostwhite;
}

.login-logo-script {
  font-family: Open Sans, sans-serif;
  font-weight: normal;
  margin-top: 20px;
  font-size: 40px;
  color: #BD1E1E;
}

.login-title h1{
  color: #BD1E1E;
  margin-left: 20px;
  font-size: 5em;
  padding-left: 20px;
}

/* ==========================	
  INTRO
=========================== */	

.intro {
    height: 400px; 
    margin-right: auto;
    background-color: ghostwhite;
}

.intro p {
    text-align: center;
    color: #2e4057;
    font-size: 2em;
    margin-top: 0;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 50px;
    line-height: 1.6em;
    padding-top: 50px;
}

/* ==========================	
  BUTTON
=========================== */	

.button-container {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
}

.login-button {
    background-color: #BD1E1E;
    color: ghostwhite;
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    font-family: 'Rokkitt';
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 20px 40px;
    text-align: center;
}
.login-button:hover {
    background-color: #99CCFF;
    color: #2e4057;
}

/* ==========================	
  MEDIA QUERIES
=========================== */	

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .login-title h1{
    font-size: 4em;
  } 
  .intro p {
    font-size: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
  }
}